# Core Application Configuration
ENV=development
LOG_LEVEL=INFO

# Central Integration Database Configuration
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=integration_db

# Mock Legacy Systems Authentication Keys
REST_SOURCE_API_KEY=test_rest_key_123
XML_SOURCE_USERNAME=admin
XML_SOURCE_PASSWORD=secret_xml_123
WEBHOOK_SIGNATURE_KEY=webhook_secret_key_abc

# Ingestion Directories
CSV_DROP_DIR=./csv_drop

# Engine & API Settings
FASTAPI_HOST=127.0.0.1
FASTAPI_PORT=8001
STREAMLIT_PORT=8502
